body {
    background-color: grey;
}

.calculatorContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: rgb(85, 62, 41);
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.output {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(66, 66, 73);
    margin: 0 5px 0 5px;
    font-size: 24px;
}

.output.input {   
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

.output.total {
    text-align: right;  
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    font-size: 30px;
    height: 50px;
    width: 50px;
    border: 1px rgba(136, 134, 134, 0) solid;
}

button:hover {
    border: 1px rgb(0, 132, 184) solid;
    color: rgb(0, 9, 63);
    filter: brightness(140%);
}

button.clear {
    width: 200px;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(139, 162, 182);
    border-radius: 0 0 10px 10px;
}

button.operator {
    background-color: rgb(52, 16, 119);
}

button.number {
    background-color: rgb(25, 25, 107);
}

button.clear {
    background-color: rgb(222, 160, 135);
}

button.equal {
    background-color: rgb(26, 66, 131);
}

button.seven {
    border-radius: 10px 0 0 0;
}

button.times {
    border-radius: 0 10px 0 0;
}